


<% content_for :extend_menu do %>
	[<%= link_to 'Root', root_path %>]
	[<%= link_to 'Tests', view_tests_path %>]
	[<%= link_to 'Book New', new_book_path %>]
<% end %>
<div id="main" >
	Content
</div>