<% msg = ' Rails is Framework of Ruby. In the frameworks there is, Catalyst and symfony.'%>


<ul>
	<li><%= truncate(msg, length: 50) %></li>
	<li><%= truncate(msg, length: 50, separator: '. ') %></li>
	<li><%= truncate(msg, length: 50, omission: '...omnission...') %></li>
</ul>




